.itemCard {
  color: rgb(11, 160, 61);
  border: solid;
  border-color: rgb(161, 26, 109);
}

.itemGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  padding: 1rem;
}

.checkoutButton {
  color: aqua;
}

.buyBar {
  color: brown;
  border: solid;
  border-color: brown;
  display: flex;
  justify-content: space-between;
}

.buyButton {
  color: chartreuse;
  border: solid;
  border-color: chartreuse;
}

.navBar {
  color: crimson;
  border: solid;
  border-color: crimson;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sortSelector {
  position: absolute; /* places the buttons beneath the navbar button */
  top: 3rem; /* distance from the top */
  left: 0; /* allign to left side of parent */
  z-index: 999; /* appeaers on top of everything */

  display: flex;
  flex-direction: column; /* aligns buttons vertically */
}

.subSortSelector {
  position: absolute; /* allows precide placement relative to parent */
  left: 100%; /* position to right of parent button */
  display: flex;
  flex-direction: column;
}

.itemCardImage {
  height: 300px;
  width: 300px;
}

.filterWrapper {
  position: relative;
}

.filterSelector {
  position: absolute; /* places the buttons beneath the navbar button */
  top: 3rem; /* distance from the top */
  left: 0; /* allign to left side of parent */
  z-index: 999; /* appeaers on top of everything */

  display: flex;
  flex-direction: column; /* aligns buttons vertically */
}

.checkoutButtonWrapper {
  background-color: aquamarine;
}
